{% load static %}


<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Django Project</title>

<link rel="stylesheet" href="{% static '/style.css' %}">
</head>
</head>
<body>
<div id="Django">
	<img id="lians-jadan-O4fme2fyako-unspla" src="{% static 'img/crown.png' %}">
		
	<div id="Group_1">
		<img id="attachment_123821102" src="{% static 'img/crown_logo.png' %}" >
			
	</div>
	<div id="Group_2">

		<div id="Hello_My_name_is_Valentino_Fig">
			<span>Hello,<br/>My name is Valentino Figueroa. I am an aspiring Ui / Ux Designer & Web Developer. I'm currently taking database <br/>management to learn the aspects of backend development. I would like to be a well rounded developer loading up my developer <br/>kit with various technologies that will gear me to a bright future. Python being one of them. Having confidence in building <br/>developments within Django will broaden my scope and have me be more appealing to businesses when viewing me as a <br/>talented prospect. I appreciate the class and learning these fundamentals in front end web development with Pythion. Thank <br/>you Shiva for guiding us through these fundamentals. Many Thanks.</span>
		</div>
		<div id="Hello_My_name_is_Valentino_Fig_m">
			<span>Hello,<br/>My name is Valentino Figueroa. I am an aspiring Ui / Ux Designer & Web Developer. I'm currently taking database <br/>management to learn the aspects of backend development. I would like to be a well rounded developer loading up my developer <br/>kit with various technologies that will gear me to a bright future. Python being one of them. Having confidence in building <br/>developments within Django will broaden my scope and have me be more appealing to businesses when viewing me as a <br/>talented prospect. I appreciate the class and learning these fundamentals in front end web development with Python. Thank <br/>you Shiva for guiding us through these fundamentals. Many Thanks.</span>
		</div>
	</div>
	<div id="Hello_Everyone_welcome_to_my_p">
		<span>"Hello Everyone, welcome to my project in Django"</span>
	</div>
</div>
</body>
</html>